<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>

    <title>pedidos</title>
</head>
<body style="background-color:#f2f2f2;">

<div th:insert="fragments/header :: header(currentPage='pedidos')"></div>

<div class="container">

    <br>
    <h3 th:text="${titulo}">Lista de pedidos</h3>
    <br>

    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Total</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="detalhe : ${pedido}">
            <td>
                <img th:src="@{${detalhe.produto.imagePath}}" width="60" height="60">
            </td>
            <td th:text="${detalhe.id}+' - '+${detalhe.produto.nome}" />
            <td th:text="${#numbers.formatDecimal(detalhe.preco, 0, 'POINT', 2, 'COMMA')}"/>
            <td th:text="${detalhe.quantidade}" />
            <td th:text="${#numbers.formatDecimal(detalhe.total, 0, 'POINT', 2, 'COMMA')}" />
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>