<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<!-- Scripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
	<script type="text/javascript" th:src="@{/js/buscar_cnpj.js}"></script>
	<script type="text/javascript" th:src="@{/js/buscar_cep.js}"></script>

	<title>Cadastrar Cliente</title>
</head>

<body style="background-color:#f2f2f2;">

<div th:insert="fragments/header :: header(currentPage='clientes')"></div>

	<div style="background-color:white; margin: 0 auto;margin-top: 2%;padding: 1% 1% 1% 1%;border-radius: 20px;width: 95%;" >

		<h3>Cadastrar Cliente</h3>

		<form action="#" th:action="@{/clientes/save}"
						 th:object="${cliente}" method="POST">

			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />

			<div class="form-row">

				<div class="form-group col-md-3">
					<label for="cnpj">CNPJ</label>
					<input type="text" onblur="checkCnpj(this.value)"
						   data-mask="00.000.000/0000-00" th:field="*{cnpj}"
						   id="cnpj"
						   class="form-control" placeholder="CNPJ">
				</div>

				<div class="form-group col-md-9">
					<label for="razaoSocial">Razão Social</label>
					<input type="text" th:field="*{razaoSocial}" id="razaoSocial"
							class="form-control" placeholder="Razão Social">
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="nomeFantasia">Nome Fantasia</label>
					<input type="text" th:field="*{nomeFantasia}" id="nomeFantasia"
							class="form-control" placeholder="Nome Fantasia">
				</div>

				<div class="form-group col-md-6">
					<label for="email">Email</label>
					<input type="text" th:field="*{email}" id="email"
							class="form-control" placeholder="Email">
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="CEP">CEP</label>
					<input type="text" onblur="checkCep(this.value)"
						   th:field="*{cep}" id="CEP"
						   class="form-control" placeholder="CEP">
				</div>
				<div class="form-group col-md-8">
					<label for="Rua">Rua</label>
					<input type="text" th:field="*{rua}" id="rua"
						   class="form-control" placeholder="Rua">
				</div>
				<div class="form-group col-md-1">
					<label for="numero">Nº</label>
					<input type="text" th:field="*{numero}" id="numero"
						   class="form-control" placeholder="Nº">
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="bairro">Bairro</label>
					<input type="text" th:field="*{bairro}" id="bairro"
						   class="form-control" placeholder="Bairro">
				</div>
				<div class="form-group col-md-6">
					<label for="Complemento">Complemento</label>
					<input type="text" th:field="*{complemento}" id="complemento"
						   class="form-control" placeholder="Complemento">
				</div>
			</div>

			<div class="row">
				<div class="col">
					<a th:href="@{/clientes/list}"
					   class="btn btn-danger  btn-lg" style="float: right;width: 30%">
						Cancelar
					</a>
				</div>
					<div class="col">
					<button type="submit" class="btn btn-success  btn-lg" style="width: 30%"> Salvar </button>
				</div>
			</div>

		</form>
		
	</div>
</body>

</html>










