<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>
    <script type="text/javascript" th:src="@{/js/header.js}"></script>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    <title>Clientes</title>

</head>
<body style="background-color:#f2f2f2;">

<div th:insert="fragments/header :: header(currentPage='clientes')"></div>

<br>
<div class="container col-11">
    <a th:href="@{/clientes/showFormForAdd}"
       class="btn btn-primary btn-lg mb-3">
        Adicionar Cliente
    </a>
</div>
    <div class="container col-11">
    <form action="#" th:action="@{/clientes/search}"  th:object="${cliente}" method="GET" id="formSearch">
        <div class="form-row">
            <div class="col-2">
            <input type="hidden" name="pageNumber" th:value="${clientes.paging.pageNumber}" />
            <input type="hidden" name="pageSize" th:value="${clientes.paging.pageSize}" />
            <select class="form-control" name="filter" id="filer">
                <option value="1">Código</option>
                <option value="2">Razão Social</option>
                <option value="3">Nome Fantasia</option>
            </select>
            </div>
            <div class="col-10">
                <input class ="form-control" type="text" name="keyword"/>
                <button class="btn" style="border: none;margin-top: -6.5%;margin-left:96%">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </form>
    </div>
<div class="container col-11">
    <table>
        <thead>
        <tr>
            <th>Código</th>
            <th>Razão Social</th>
            <th>Nome Fantasia</th>
            <th>Cnpj</th>
            <th>Email</th>
            <th>Ação</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempCliente : ${clientes.page.content}">

            <td th:text="${tempCliente.id}" />
            <td th:text="${tempCliente.razaoSocial}" />
            <td th:text="${tempCliente.nomeFantasia}" />
            <td th:text="${tempCliente.email}" />
            <td th:text="${tempCliente.cnpj}" />

            <td>
                <div class="row">
                    <div class="col-small">
                        <!-- Add "update" button/link -->
                        <form action="#" th:action="@{/clientes/showFormForUpdate}" method="POST">

                            <input type="hidden" name="clienteId" th:value="${tempCliente.id}" />
                            <button type="submit" class="btn btn-info btn-sm ml-3 mr-1">
                                <i class="bi bi-pen"> Editar</i></a>
                            </button>
                        </form>
                    </div>

                    <div class="col-small">
                        <!-- Add "delete" button/link -->
                        <form action="#" th:action="@{/clientes/delete}" method="POST">

                            <input type="hidden" name="clienteId" th:value="${tempCliente.id}" />
                            <button type="submit" class="btn btn-danger btn-sm mr-2"
                                    onclick="if (!(confirm('Tem certeza que deseja deletar esse cliente?'))) return false">
                                <i class="bi bi-trash2"> Deletar</i></a>
                            </button>

                        </form>
                    </div>
                </div>
            </td>


        </tr>
        </tbody>
    </table>


</div>

<div class="container"6>
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">


            <nav aria-label="Page navigation" class="paging">
                <ul class="pagination" th:if="${clientes.page.totalPages > 1}">
                    <li class="page-item" th:classappend="${!clientes.paging.isPrevEnabled()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'list?pageNumber=' + ${clientes.paging.pageNumber - 1}}"
                           tabindex="-1">Anterior</a>
                    </li>
                    <th:block th:each="item : ${clientes.paging.getItems()}">
                        <li class="page-item" th:classappend="${item.index == clientes.paging.pageNumber? 'active' : ''}"
                            th:if="${item.pageItemType.name() == 'PAGE'}">
                            <a class="page-link" th:href="@{'list?pageNumber=' + ${item.index}}"
                               th:text="${item.index}"></a>
                        </li>
                        <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                            <a class="page-link" href="#">...</a>
                        </li>
                    </th:block>

                    <li class="page-item" th:classappend="${!clientes.paging.isNextEnabled()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'list?pageNumber=' + ${clientes.paging.pageNumber + 1}}">Próximo</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

</body>
</html>