<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>

    <title>Header</title>


    <style>
    .currentPage {
      font-weight: bold;
      background: -webkit-linear-gradient(white, red, black);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    </style>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="id">
                <div class="navbar-nav">
                    <a class="navbar-brand currentPage" th:href="@{/clientes/list}"
                       th:style="${currentPage} == 'clientes' ? 'font-weight: bold;color:red' : 'font-weight: normal'">CLIENTES</a>

                    <a class="navbar-brand" th:href="@{/funcionarios/list}"
                       th:style="${currentPage} == 'funcionarios' ?'font-weight: bold' : 'font-weight: normal;color:red'">FUNCIONÁRIOS</a>

                    <a class="navbar-brand" th:href="@{/fornecedores/list}"
                       th:style="${currentPage} == 'fornecedores'? 'font-weight: bold' : 'font-weight: normal;color:red'">FORNECEDORES</a>

                    <a class="navbar-brand " th:href="@{/produtos/list}"
                       th:style="${currentPage} == 'produtos' ? 'font-weight: bold' : 'font-weight: normal; background-color:white;height:100%'">PRODUTOS</a>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>
</html>